{% extends 'layouts.html' %}

{% block content %}
    <h1 class="text-muted mb-2">About Us</h1>
    <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita iure nobis voluptatem sed, facere ut ipsam beatae consequuntur dolore laboriosam repellat minus quos perferendis nostrum. Placeat maiores deleniti perferendis aliquid.</p>

    <h2>Nos Domaines</h2>
    <div class="row">
        <div class="col-md-6 m-auto">
            <ul class="list-group mb-2">
                <li class="list-group-item">Climatisation</li>
                <li class="list-group-item">Electricité</li>
                <li class="list-group-item">Plomberie</li>
            </ul>
        </div>

        <div class="col-md-6 m-auto">
            <ul class="list-group mb-2">
                <a class="list-group-item list-group-item-action" href="#">Climatisation</a>
                <a class="list-group-item list-group-item-action" href="">Electricité</a>
                <a class="list-group-item list-group-item-action" href="">Plomberie</a>
            </ul> 
        </div>
    </div>
    

    
{% endblock %}